/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #911aac;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.App {
  height: max-content;
}

header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  /* width: 310px; */
  font-size: 1.1rem;
  justify-content: space-between;
  /* width: 650px; */
  align-items: center;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Blogs Page */
.allblogs {
  display: grid;
  /* grid-template-columns: 3fr 1fr; */
  gap: 100px;
}
.myblogs {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.blog-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.blog-details h2 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.blog-details p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
.blog-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.featured {
  background: #fff;
  border-radius: 4px;
  padding: 50px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  border-radius: 10px;
}
.featured h2 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.featured p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
.featured span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

/* new Workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div .error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input .error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a , nav button{
  margin-left: 10px;
  margin-right: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.hero{
  background-image: url(../src/magazine-3680549_1920.webp) !important;
  background-size: cover;
  position: relative;
}

.grid-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 50px;
}

.banner_caption h1, .banner_caption p{
  margin: 0;
}

.banner_caption h1{
  font-size: clamp(2rem, 5vw, 3rem);
}

.hero {
  height: 500px;
  align-items: center;
  background-color: #eee;
}


.footer {
  background-color: rgb(24, 23, 23);
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
}
.footer span{
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  overflow-y: auto;
}

.close-button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.close-button:hover {
  background-color: #0e5a8a;
}

.modal-content button {
  margin-bottom: 20px;
}

.modal-content button:last-child {
  margin-bottom: 0;
}
.treeicon {
  width: 100px;
  display: flex;
align-items: center;
}

.iconheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allblog-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.allblog-details h2 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.allblog-details p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
.allblog-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}